.layout{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 15px;
}
.layout .main-borrow{
    margin: 0 auto;
    padding: 10px 20px;
    width: 50%;
    background: gray;
    border-radius: 10px;
}
















